* {
    font-family: 'Poppins', sans-serif;
}

.navbar-nav {
    overflow: auto;
    display: flex;
    display: inline-block;
}

ul {
    list-style-type: none;
}

.nav-item {
    line-break: none;
    display: inline-block;
    padding: 5px;
}

/* button styling */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}
button {
    margin: 0 auto;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 50px;
    display: inline block;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 200;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
button:hover {
    background-color: #ffffff;
}

.update {
    background-color: lightgreen;
}

.update:hover {
    color: lightgreen;
    border-color: lightgreen;
}

.delete {
    background-color: tomato;
}

.delete:hover {
    color: tomato;
    border-color: tomato;
}

.submit {
    background-color: lightskyblue;
}

.submit:hover {
    color: lightskyblue;
    border-color: lightskyblue;
}
/* img styling */

.profile_picture {
    width: 50px;
    height: 40px;
}
